<!DOCTYPE html>
<html>
<head>
  <title>ExpenceTrackingApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class='nav-v'>
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Expense Tracking</a>
      </div>
      <% if user_signed_in? %>
        <div class="navbar-collapse collapse navbar-right" id="navbar">
          <%= link_to 'LogOut', '/users/sign_out', 'data-method' => 'delete', class: "btn btn-success" %>
        </div>
      <% end %>
      </div>
    </nav>
      <% if user_signed_in? %>
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active"><a href="#">Groups<span class="sr-only">(current)</span></a></li>
                <ul class="grpList">
                  <% current_user.groups.each do |grp| %>
                    <li><%= link_to grp.name, details_group_path(grp.id) %></li>
                  <% end %>  
                </ul>  
            </ul>
          </div>
        <div class="col-sm-9 col-md-10">
          <h3 class="page-header header"><%= link_to current_user.name+ 's Dashboard', users_path %></h3>
          <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#addGroup">Create Group</button>
          <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#addBill">Add Bill</button>
          <%= yield %>

          <div id="addGroup" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm" style='background-color:"#fff"'>
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Create Group</h4>
                </div>
                <%= form_tag('/groups', remote: true) do %>
                  <div class="modal-body">
                    <p>Add member</p>
                    <%= text_field_tag :name, nil, tabindex: '1', placeholder: 'Name', autofocus: true %>
                    <%= text_area_tag :description, nil, cols: '18', tabindex: '1', placeholder: 'Description' %>
                    <%= text_field_tag :email, nil, tabindex: '1', placeholder: 'Email Address' %>
                    <p id='errormsg'></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <%= submit_tag 'Add', class: 'btn btn-default' %>
                  </div>
                <% end %>  
              </div>
            </div>
          </div>

          <div id="addBill" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm" style='background-color:"#fff"'>
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add Bill</h4>
                </div>
                <%= form_tag('/expenses', remote: true) do %>
                  <div class="modal-body">
                    <p>With you and</p>
                    <%= select_tag "group_id", options_from_collection_for_select(current_user.groups, "id", "name") %>
                    <%= text_area_tag :description, nil, cols: '18', tabindex: '1', placeholder: 'Description' %>
                    <%= text_field_tag :amount, nil, tabindex: '1', placeholder: 'Amount' %>
                    <p id='errormsg'></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <%= submit_tag 'Add', class: 'btn btn-default' %>
                  </div>
                <% end %>  
              </div>
            </div>
          </div>
        </div>
    </div>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</body>
</html>
